.popup__input-error {
  display: block;
  height: 27px;
  margin-block-start: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup__input-error_active {
  opacity: 1;
  color: #f00;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  transition: opacity 0.3s ease;
}